@import '~bootstrap/scss/functions';
@import '../../../assets/styles/vars';
@import '~bootstrap/scss/mixins';

.icon-list {
    max-width: 650px;
    margin: 0 auto;

    fa-icon {
        display: inline-block;
        margin: $grid-gutter-width/2;
        opacity: 0.75;
        transition: opacity 0.3s;

        &:hover {
            opacity: 1;
        }
    }
}
